@model asp_assignment.Models.Souvenir

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<p class="text-danger">@ViewData["ConcurrencyErrorMessage"]</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    @{var imgUrl = @Href("~" + Model.PathOfFile);
        var errImg = @Href("~/images/Default.jpg");}

    
    <h4>Souvenir</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplier.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PathOfFile)
        </dt>
        <dd>
            <img style="width: 25%;border-radius:6px;  height: auto;" src="@imgUrl" alt="Souvenir Image" onerror="this.onerror = null; this.src = '@errImg'">
        </dd>
    </dl>
         <p class="text-danger">@TempData["SouvenirUsed"]</p>
         <form asp-action="Delete">
             <input type="hidden" asp-for="SouvenirID" />
             <input type="hidden" asp-for="RowVersion" />
             <input type="submit" value="Delete" class="btn btn-default" /> |
             <a asp-action="Index">Back to List</a>
         </form>
</div>
